<div class="sidebar" data-color="purple" data-image="../../assets-lbd/img/sidebar-5.jpg">

  <div class="sidebar-wrapper">
    <div class="logo">
      <a href="http://www.creative-tim.com" class="simple-text">
        Creative Time
      </a>
    </div>

    <ul class="nav">
      <li class="active">
        
          <i class="pe-7s-graph"></i>
          <p>Dashboard</p>
        
      </li>
      <li>
       
          <i class="pe-7s-user"></i>
          <p>User Profile</p>
        
      </li>
      <li>
        
          <i class="pe-7s-note2"></i>
          <p>Table List</p>
        
      </li>
      <li>
        
          <i class="pe-7s-news-paper"></i>
          <p>Typography</p>
        
      </li>
      <li>
       
          <i class="pe-7s-science"></i>
          <p>Icons</p>
       
      </li>
      <li>
       
          <i class="pe-7s-map-marker"></i>
          <p>Maps</p>
        
      </li>
      <li>
       
          <i class="pe-7s-bell"></i>
          <p>Notifications</p>
       
      </li>
      <li class="active-pro">
        
          <i class="pe-7s-rocket"></i>
          <p>Upgrade to PRO</p>
        
      </li>
    </ul>
  </div>
</div>